body {
  background-color:black;
}

#container1 {
  background-color:white;
  width:100%;
}

p {
  color:red;
  font-family:courier;
  text-align: center;
}

.headcontainer {
  background-color:blue;
}

h1 {
  font-family:arial;
  color:white;
  text-align:center;
}

p + p {
  font-style:bold;
  color: blue;
}

p:hover {
  color:white;
  background-color:orange;
}

p:active {
  margin:15px;
  color:red;
  background-color:blue;
}

h1:hover {
  background-color:red;
}

h1:active {
  background-color:orange
}

h1:after {
  content: '☛';
  color: white;
  margin-left: 5px;
}


h1:before {
  content: '☚';
  color: white;
  margin-right: 5px;
}

.headcontainer > h1 {
  color:white;
}
