body {
  background-color:black;
}

#container {
  background-color:white;
}

p {
  color:blue;
  font-family:courier;
}

.headcontainer {
  background-color:grey;
}

h1 {
  font-family:arial;
}

p + p {
  font-style: bold;
}
