body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 50px;
  background-color:grey;
  font-family:times;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  color: white;
  font-size: 35px;
  background-color:grey;
  font-family:times;
  text-shadow: 1px 1px 1px #000;
}

li {
  color: white;
  font-size: 25px;
  font-family:arial;
}

p {
  color:black;
  background-color:white;
  font-family:times;
  font-size:25px;
}
