p + p {
  font-style: italic;
}

#foo ~ span {
  background-color:black;
  color:white;
}

#container > p > span {
  font-family:fantasy;
}

child = >
general setting = ~

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

p {
  font-size: 112.5%;
}

h1 {
  font-size: 200%
}

article {
  max-width: 29.37em;
  text-align: justify;
  margin-left:auto;
  margin-right: auto;
}
