body {
  background-color:black;
  opacity:80%;
}

h1 {
  color:lime;
  font-size:90px;
  font-family:verdana;
  background-color:white;
  text-align:center;
  text-shadow: 2px 2px #ff0000;
}

h1:hover {
  color:red;
  font-size:150px;
}

h2 {
  color:lime;
  font-size:40px;
  font-family:verdana;
  background-color:white;
  text-align:center;
  text-shadow: 2px 2px #ff0000;
}

h2:hover {
  color:red;
  font-size:50px;
}

p {
  color:white;
  font-size:25px;
  font-family:courier;
}

p:hover {
  color:lime;
  font-size:45px;
  background-color:grey;
}

p:click {
  color:white;
  background-color:lime;
  font-size:50px;
}
