body {
  background-color:black;
  opacity:80%;
}

h1 {
  color:red;
  font-size:90px;
  font-family:times;
  background-color:white;
}

h1:hover {
  color:grey;
  font-size:60px;
}

h2 {
  color:lime;
  font-size:40px;
  font-family:courier;
  background-color:white;
}

h2:hover {
  color:red;
  font-size:50px;
}

p {
  color:white;
  font-size:25px;
  font-family:courier;
}

p:hover {
  color:lime;
  font-size:30px;
  background-color:grey;
}

p:click {
  color:white;
  background-color:lime;
  font-size:50px;
}
