body {
  background-color:white;
}

h1 {
  color: black;
  font-size: 50px;
  font-family: times;
}

h2 {
  color: black;
  font-size: 50px;
  font-family: times;
}

h3 {
  color: black;
  font-size: 50px;
  font-family: times;
}

p {
  color: black;
  font-size: 30px;
  font-family: times;
}

h4 {
  color: black;
  font-size: 50px;
  font-family: times;
}
