
*{
    border: 0;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

@font-face {
  font-family:"futura";
  src: url('futura.ttf');
}

@font-face {
  font-family:"bebas";
  src: url('bebas.ttf');
}

@font-face {
  font-family:"futurab";
  src: url('futurab.ttf');
}


body {
  background-color: white;
}

.topbar{
  background: url('wall.jpg');
  height:10%;
  background-position: bottom center;
  background-size:100%;
  position:relatve;
  width:100%;
  align-items:center;
  justify-content:center;
}

.logo{
  width:400px;
  height:80px;
  background-color:black;
  margin-left:30%;
  position:relative;
  text-align:center;
  margin-top:0%;
  margin-bottom:0%;
  padding:13px;
}

.logo > .logotitle {
  font-size:100px;
  color:white;
  font-family:"bebas";
}

.logo a{
  text-decoration:none;
  color:white;
}

.nav{
  display:flex;
  flex-direction:row;
  color:black;
  color: #fff;
  list-style-type: none;
  font-family:"bebas";
  width:auto;
  height:auto;
  font-size:50px;
}

.nav li{
  width: 20%;
  padding-top:1%;
  margin-left:0;
  text-align:center;
}

.nav a{
  text-decoration:none;
  color:black;
}

.nav a:active{
  color:red;
}

.blackbar {
  width:100%;
  background-color:black;
  height:1.5%;
}

.blackbar2{
  width:100%;
  background-color:black;
  height:1.5%;
  margin-top:0%;
}


.yeezy{
  background: url('assets/yeezy.jpg');
  color: white;
  text-align: center;
  height:25%;
  background-position: bottom center;
  background-size:103%;
  font-family:"futura";
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:3%;
  font-size:40px;
  position:relatve;
  margin-left:5%;
  width:43%;
  float:left;
}

.yeezy a {
  text-decoration:none;
  color:white;
}

.yeezy a:active {
  text-decoration:none;
  color:red;
}

.jordan{
  background: url('assets/jordan.jpg');
  color: white;
  text-align: center;
  height:25%;
  background-position: bottom center;
  background-size:105%;
  font-family:"futura";
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:3%;
  font-size:40px;
  position:relatve;
  margin-right:5%;
  width:43%;
  float:right;
}

.jordan a {
  text-decoration:none;
  color:white;
}

.jordan a:active {
  text-decoration:none;
  color:red;
}

.vans{
  background: url('assets/vans.jpg');
  color: white;
  text-align: center;
  height:25%;
  background-position: bottom center;
  background-size:110%;
  font-family:"futura";
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:3%;
  font-size:40px;
  position:relatve;
  margin-left:5%;
  width:43%;
  float:left;
}

.vans a {
  text-decoration:none;
  color:white;
}

.vans a:active {
  text-decoration:none;
  color:red;
}

.reebok{
  background: url('assets/reebok.jpg');
  color: white;
  text-align: center;
  height:25%;
  background-position: bottom center;
  background-size:110%;
  font-family:"futura";
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:3%;
  font-size:40px;
  position:relatve;
  margin-right:5%;
  width:43%;
  float:right;
}

.reebok a {
  text-decoration:none;
  color:white;
}

.reebok a:active {
  text-decoration:none;
  color:red;
}

.gucci{
  background: url('assets/gucci.jpg');
  color: white;
  text-align: center;
  height:25%;
  background-position: bottom center;
  background-size:110%;
  font-family:"futura";
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:3%;
  font-size:40px;
  position:relatve;
  margin-left:5%;
  width:43%;
  float:left;
}

.gucci a {
  text-decoration:none;
  color:white;
}

.gucci a:active {
  text-decoration:none;
  color:red;
}

.balenciaga{
  background: url('assets/balenciaga.jpg');
  color: white;
  text-align: center;
  height:25%;
  background-position: bottom center;
  background-size:110%;
  font-family:"futura";
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:3%;
  font-size:40px;
  position:relatve;
  margin-right:5%;
  width:43%;
  float:right;
}

.balenciaga a {
  text-decoration:none;
  color:white;
}

.balenciaga a:active {
  text-decoration:none;
  color:red;
}

.blackbar3{
  width:100%;
  background-color:black;
  height:2.8%;
  position:absolute;
  top:97.5%;
}

.blackbar3 > a {
  color:white;
  font-size:30px;
  font-family:"futura";
  float:right;
  margin-right:3%;
  text-decoration:none;
}

span {
  color:red;
}
