
*{
    border: 0;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

@font-face {
  font-family:"futura";
  src: url('futura.ttf');
}

@font-face {
  font-family:"bebas";
  src: url('bebas.ttf');
}

@font-face {
  font-family:"futurab";
  src: url('futurab.ttf');
}


body {
  background-color: white;
}

.topbar{
  background: url('wall.jpg');
  height:10%;
  background-position: bottom center;
  background-size:100%;
  position:relatve;
  width:100%;
  align-items:center;
  justify-content:center;
}

.logo{
  width:400px;
  height:80px;
  background-color:black;
  margin-left:30%;
  position:relative;
  text-align:center;
  margin-top:0%;
  margin-bottom:0%;
  padding:13px;
}

.logo > .logotitle {
  font-size:100px;
  color:white;
  font-family:"bebas";
}

.logo a{
  text-decoration:none;
  color:white;
}

.nav{
  display:flex;
  flex-direction:row;
  color:black;
  color: #fff;
  list-style-type: none;
  font-family:"bebas";
  width:auto;
  height:auto;
  font-size:50px;
}

.nav li{
  width: 20%;
  padding-top:1%;
  margin-left:0;
  text-align:center;
}

.nav a{
  text-decoration:none;
  color:black;
}

.nav a:active{
  color:red;
}

.blackbar {
  width:100%;
  background-color:black;
  height:1.5%;
}

.blackbar2{
  width:100%;
  background-color:black;
  height:1.5%;
  margin-top:0%;
}

span {
  color:red;
}

.spotlight{
  background: url('assets/asapcrew.jpg');
  color: white;
  text-align: center;
  height:47%;
  background-position: bottom center;
  background-size:171%;
  font-family:"futura";
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:2.5%;
  font-size:40px;
  position:relatve;
  margin-left:2.5%;
  margin-right:0;
  font-style:bold;
  width:50%;
  float:left;
}

.spotlight a {
  text-decoration:none;
  color:white;
}

.spotlight a:active {
  text-decoration:none;
  color:red;
}

.rocky1 {
  background: url('assets/rocky1.jpg');
  color: white;
  text-align: center;
  height:30%;
  background-size:125%;
  display:flex;
  margin-top:2.5%;
  font-size:40px;
  position:relatve;
  margin-left:2.5%;
  width:50%;
  float:left;
}

.rocky2 {
  background: url('assets/rocky2.jpg');
  color: white;
  text-align: center;
  height:30%;
  background-size:125%;
  display:flex;
  margin-top:2.5%;
  font-size:40px;
  position:relatve;
  margin-right:2.5%;
  width:42%;
  float:right;
}

.tcontainer {
  background-color:black;
  width:42%;
  height:12%;
  position:relative;
  display:flex;
  float:right;
  margin-right:2.5%;
  margin-top:2.5%;
  color:white;
  font-family:"futura";
  font-size:30px;
  text-align:right;
}

.tcontainer > p {
  margin-right:10%;
  margin-top:20%;
}


.asaparticle{
  background: url('assets/rocky3.jpg');
  color: white;
  text-align: center;
  height:33.7%;
  background-position: top center;
  background-size:171%;
  font-family:"futura";
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:2.5%;
  font-size:40px;
  position:relatve;
  margin-left:0%;
  margin-right:2.5%;
  margin-bottom:2.5%;
  font-style:bold;
  width:42%;
  float:right;
}

.asaparticle a {
  text-decoration:none;
  color:white;
}

.asaparticle a:active {
  text-decoration:none;
  color:red;
}

.blackbar3{
  width:100%;
  background-color:black;
  height:2.8%;
  position:absolute;
  top:97.5%;
}

.blackbar3 > a {
  color:white;
  font-size:30px;
  font-family:"futura";
  float:right;
  margin-right:4%;
  text-decoration:none;
}
