*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    font-family:"futura", sans-serif;
}

@font-face {
  font-family: "steelfish";
  src: url('steelfish.otf');
}

@font-face {
  font-family:"futura";
  src: url('futura.ttf');
}

@font-face {
  font-family:"futurab";
  src: url('futurbol.ttf');
}

@font-face {
  font-family:"futurabi";
  src: url('futurboli.ttf');
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    border: 1px dashed rgba(255,0,0,0.3);
    display: inline-block;
}

.grid-base{
    position:absolute;
    top:0;
    left: 0;
    width: 100%
}

.grid-base .col-1{
    height: 3000px;
}

body {
  background-color:white;
}

#boxtitle {
  font-family:"futura";
  font-size:120px;
  position:relative;
  text-align:center;
  top:15px;
}

.hr {
background: red;  no-repeat scroll center;
width:47em;
height:0.3em;
color:black;
position:relative;
top:2%;
left:23%;
}

a {
  font-family:"futura";
  color:black;
  text-decoration:none;
}

a:hover {
  color:red;
}

#boxtitle2 {
  font-family:"futura";
  position:relative;
  text-align:center;
  font-size:50px;
}

#boxtitle3 {
  font-family:"futura";
  text-align:center;
  font-size:50px;
}

#boxtitle4 {
  font-family:"futura";
  text-align:center;
  font-size:50px;
}

#boxtitle5 {
  font-family:"futura";
  text-align:center;
  font-size:50px;
}

#boxtitle6 {
  font-family:"futura";
  background-color:black;
  position:absolute;
  left:23%;
  padding:5px;
}

#boxtitle7 {
  font-family:"futura";
  background-color:black;
  position:absolute;
  left:27%;
  padding:5px;
}

#boxtitle8 {
  font-family:"futura";
  background-color:black;
  position:absolute;
  left:32%;
  padding:5px;
}
